# dependencies
/node_modules

# IDE
/.idea
/.awcache
.vscode/*
!.vscode/launcher.json
!.vscode/settings.json

# misc
npm-debug.log
/**/*.DS_Store

# tests
/test
/coverage
/.nyc_output

# dist
dist
.env
