# source
lib
test
index.ts
package-lock.json
tslint.json
tsconfig.json
tsconfig.build.json
.prettierrc
.dev-dependencies
.dependencies

# github
.github
CONTRIBUTING.md
renovate.json
.husky
.lintstagedrc

# ci
.circleci
coverage
.env
.vscode
.editorconfig
.release-it.json
.eslintrc
.commitlintrc
pdf-icon.svg
.eslintignore
