version: 2.1

orbs:
  coveralls: coveralls/coveralls@1.0.6

aliases:
  - &restore-cache
    restore_cache:
      key: dependency-cache-{{ checksum "package.json" }}
  - &install-deps
    run:
      name: Install dependencies
      command: npm install --force --unsafe-perm
  - &update-npm
    run:
      name: Update NPM version
      command: 'sudo npm install -g npm@latest'
  - &run-lint
    run:
      name: Linting
      command: npm run lint
  - &run-integration
    run:
      name: Integration tests
      command: npm run test:integration
  - &save-cache
    save_cache:
      key: dependency-cache-{{ checksum "package.json" }}
      paths:
        - ./node_modules
  - &apt-update
    run:
      name: install libfontconfig
      command: sudo apt-get update
  - &install-libfontconfig
    run:
      name: install libfontconfig
      command: sudo apt-get install -y libfontconfig

jobs:
  integration_tests_node_12:
    working_directory: ~/nest
    docker:
      - image: cimg/node:12.22.0
    steps:
      - checkout
      - *apt-update
      - *install-libfontconfig
      - *update-npm
      - *restore-cache
      - *install-deps
      - *save-cache
      - *run-lint
      - *run-integration

  integration_tests_node_14:
    working_directory: ~/nest
    docker:
      - image: cimg/node:14.19
    steps:
      - checkout
      - *apt-update
      - *install-libfontconfig
      - *update-npm
      - *restore-cache
      - *install-deps
      - *save-cache
      - *run-lint
      - *run-integration

  integration_tests_node_16:
    working_directory: ~/nest
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - *apt-update
      - *install-libfontconfig
      - *update-npm
      - *restore-cache
      - *install-deps
      - *save-cache
      - *run-lint
      - *run-integration

  coverage:
    working_directory: ~/nest
    docker:
      - image: cimg/node:16.14
    steps:
      - checkout
      - *apt-update
      - *install-libfontconfig
      - *update-npm
      - *restore-cache
      - *install-deps
      - *save-cache
      - run:
          name: Test coverage
          command: npm run test:cov
      - coveralls/upload:
          path_to_lcov: ./coverage/e2e/lcov.info

workflows:
  version: 2
  test:
    jobs:
      - integration_tests_node_10
      - integration_tests_node_12
      - integration_tests_node_14
      - integration_tests_node_16
  coverage:
    jobs:
      - coverage
